# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase config
config/serviceAccountKey.json

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build and runtime artifacts
dist/
build/
*.tsbuildinfo

# Temporary files
.tmp/
*.swp

# Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/

# Firebase emulators data
firebase-debug.log
firebase-debug.*.log
